<div id="<%= dom_id number %>">
  <p>
    <strong>Name:</strong>
    <%= number.name %>
  </p>

  <p>
    <strong>Phone1:</strong>
    <%= number.phone1 %>
  </p>

  <p>
    <strong>Phone2:</strong>
    <%= number.phone2 %>
  </p>

  <p>
    <strong>Phone3:</strong>
    <%= number.phone3 %>
  </p>

</div>
